*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#fondoCabeza
{
  width: 100%;
   height: 400px; 
   background-color: #9E9285;
}

#logo {
    width: 200px;
    height: 200px;
    
}
#cajaLogo {
box-sizing: border-box;
}

#textoLogo{
    color: white;
}